<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Angular JS</title>
        <link rel="stylesheet" href="dist/styles.css">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>   
    </head>
    <body>
        <div class="container">
            <form form="role" class="calc" data-ng-app="calcApp" data-ng-controller="CalcController">
                <div class="clearfix">
                    <div class="col col-xs-12">
                        <input type="text" class="col-xs-12 form-control text-right" placeholder="0" data-ng-model="result" readonly>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="col col-xs-9">
                        <div class="col col-xs-4" data-ng-repeat="value in values">
                            <input type="button" class="col-xs-12 btn btn-default" value='{{value}}' data-ng-click="click(value)">
                        </div>
                    </div>
                    <div class="col col-xs-3">
                        <div class="col col-xs-12" data-ng-repeat="operation in operations">
                            <input type="button" class="col-xs-12 btn btn-default" value="{{operation}}" data-ng-click="click(operation)">
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="col col-xs-12">
                        <input type="button" class="col-xs-12 btn btn-default" value="{{resultButton}}" data-ng-click="click(resultButton)">
                    </div>
                </div>
            </form>
        </div>
        <script type="text/javascript" src="dist/scripts.min.js"></script>
    </body>
</html>