.container {
	[class*="col-"] {padding-left: 0; padding-right: 0;}
	.calc {
		input {padding: 6px 10px;}
	}
}
.clearfix>.col {padding: 5px;}
@media (min-width: 500px) {
    .container {width: 500px; max-width: 500px;}
}
@media (max-width: 499px) {
    .container {width: 100%;}
}